DB_NAME='postgres'
DB_USER='admin'
DB_PASSWORD='mypassword'
DB_PORT=5432
DB_HOST='postgres'
TIME_ZONE='Europe/Moscow'

# Django (сгенерируйте новый ключ!)
SECRET_KEY='your-secret-key-here'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1