{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="flex-1 min-h-screen">
    <div class="px-6 py-6">
        <div class="flex justify-between items-center border-b-2 border-border-aaaa rounded-b-sm px-3 shadow-md pb-2">
            <div class="flex gap-sm text-3xl">
                <p class="">Добро пожаловать,</p>
                <p class="font-bold">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="flex flex-col items-center justify-center">
                <div class="text-lg">
                    <p class="font-bold" id="currentTime"></p>
                </div>
                <div class="text-lg cursor-pointer transition-opacity duration-200 hover:shadow-sm hover:text-text-error">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="font-bold">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex mx-3 my-4">
            <p class="">чета придумать</p>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/account/home.js' %}"></script>
{% endblock %}